<ul class="nav__items">
  <li class="nav__item nav__item--hide-on-small-tablet nav__item--hide-on-mobile">
    <a class="nav__link" href="#">Benefits</a>
  </li>
  <li class="nav__item nav__item--hide-on-small-tablet nav__item--hide-on-mobile">
    <a class="nav__link" href="#">Claims</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="#"><i class="icon--logo"></i></a>
  </li>
  <li class="nav__item nav__item--hide-on-small-tablet nav__item--hide-on-mobile">
    <a class="nav__link" href="#">Centers</a>
  </li>
  <li class="nav__item nav__item--hide-on-small-tablet nav__item--hide-on-mobile">
    <a class="nav__link" href="#">Health</a>
  </li>
</ul>
