<div class="sidebar__header">
  <div class="sidebar__header-pic"></div>
  <h2 class="sidebar__header-title">Good Morning</h2>
  <a class="sidebar__header-link" href="#">Profile</a>
  <a class="sidebar__header-link" href="#">Log Out</a>
</div>
<div class="sidebar__body">
  <ul class="sidebar__items">
    <li class="sidebar__item sidebar__item--is-active">
      <a href="" class="sidebar__item-link">Your Dashboard</a>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Scheduling</a>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Plans &amp; Benefits</a>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Centers &amp; Teams</a>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Claims &amp; Payments</a>
      <span class="sidebar__item-count">3</span>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Messaging</a>
      <span class="sidebar__item-count">3</span>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Health</a>
    </li>
    <li class="sidebar__item">
      <a href="" class="sidebar__item-link">Contact</a>
    </li>
  </ul>
</div>
<div class="sidebar__footer"></div>
