
.modal {
  position: fixed;
  display: none;
  z-index: 3;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;

}
.modal.modal--is-full-screen {  }
.modal.modal--is-active {
  display: flex;
}
.modal__overlay {
  content: '';
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 4;
  text-align: center;
  &:before,&:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
  }
}
.modal__overlay.modal__overlay--has-lifestyle-bg {
  &:before {
    background-image: url('img/lifestyle.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  &:after {
    background-color: rgba(40,40,40,0.5);
  }
}
.modal__container {
  position: relative;
  width: 460px;
  margin: 0 auto;
  padding: 2rem;
  z-index: 5;
  background: $trueWhite;
  border: 1px solid $warmGray1;
}
.modal--is-full-screen .modal__container {
  background: transparent;
  color: $trueWhite;
}
.modal__header{

}
.modal__header-title { font-size: 2rem; margin-top: 0px; }
.modal__header-close {
  @extend .btn--dark;
  position: absolute;
  padding: 0.5rem 0.5rem;
  top: 1.5rem;
  right: -1.5rem;
  font-size: 1rem;
  vertical-align: top;
}
.modal__body{
  @extend %is-serif;
}
.modal__footer{}
